* {
    margin: 0;
    padding: 0;
}

.container {
    width: 84%;
    max-width: 640px;
    margin: 0 auto;
    padding: 30px 0;
}

.contact-page {
    margin-bottom: 30px;
    text-align: center;
    font-size: 25px;
}

form {
    display: grid;
    row-gap: 30px;
}

input, textarea {
    width: 100%;
    padding: 10px;
    border: solid 1px #dddddd;
    font-size: 16px;
    box-sizing: border-box;
    font-family: inherit;
    font-weight: normal;
    outline: none;
    color: currentColor;
    appearance: none;
    border-radius: 0;
    resize: none;
}

.send-button {
    justify-self: start;
    padding: 15px 30px;
    border: solid 1px currentColor;
    font-family: inherit;
    font-size: 16px;
    background-color: blue;
    color: #ffffff;
    cursor: pointer;
}

.send-button:hover {
    opacity: 0.7;
}