@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP&display=swap');
@import "tailwindcss";

html, body {
    font-family: YuMincho, serif;
}

/*@theme {*/
/*  --font-sans: var(--font-geist-sans);*/
/*  --font-mono: var(--font-geist-mono);*/
/*}*/

:root {
    --background: #ffffff;
    --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #ededed;
        --foreground: #0a0a0a;
    }
}

body {
    color: var(--foreground);
    background: var(--background);
}

[data-next-overlay] {
    display: none !important;
}