.App {
  text-align: center;
}

.product-page {
  text-align: center;
}

.contact-page {
  text-align: center;
}

.support-page {
  text-align: center;
}

.home-image {
  width: 200px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: white;
  height: 100vh;
}

body,
header,
ul,
li,
div {
  display: block;
  max-width: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  border: 0;
}

header {
  display: block;
  max-width: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  border: 0;
}

ul,
li {
  list-style: none;
}

button {
  border: none;
  background: transparent;
  cursor: pointer;
}

.header {
  display: flex;
  justify-content: flex-end;
  padding: 2rem;
  z-index: 999;
  background-color: white;
  /*position: fixed;*/
}