.App {
    text-align: center;
}
.product-page{
    text-align: center;
}
.contact-page{
    text-align: center;
}
.support-page{
    text-align: center;
}
.image{
    cursor: pointer;
}
.icon-image{
    width:60px;
    border: solid 1px;
    border-radius: 15px;
    margin: 5px 5px 5px 5px;
    cursor: pointer;
}
.instagram-image{
    width:60px;
    margin: 5px 5px 5px 5px;
    cursor: pointer;
}
.twitter-image{
    width:60px;
    border-radius: 15px;
    margin: 5px 5px 5px 5px;
    cursor: pointer;
}
.link-menu{
    text-align: center;
    margin-top: 20px;
}
*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    background-color: white;
    height: 100vh;
}

body,
header,
ul,
li,
div {
    display: block;
    max-width: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    border: 0;
}

ul,
li {
    list-style: none;
}

button {
    border: none;
    background: transparent;
    cursor: pointer;
}

.header {
    position: relative;
    display: flex;
    justify-content: flex-end;
    padding: 2rem;
    z-index: 999;
    background-color: white;
}
.title{
    margin:  0 auto;
}

.toggleButton {
    position: relative;
    width: 56px;
    height: 56px;
    overflow: hidden;
    z-index: 2;
}

.toggleButton > span {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    display: inline-block;
    width: 100%;
    height: 2px;
    background-color: black;
}

.line-1 {
    transform: translate(0, -10px);
}

.line-2 {
    transform: translate(0, 5px);
}
.line-3 {
    transform: translate(0, 20px);
}

.toggleButton[aria-expanded="true"] > .line-1 {
    transform: translate(0, 0) rotate(-45deg);
}

.toggleButton[aria-expanded="true"] > .line-2 {
    transform: translate(0, 0) rotate(45deg);
}
.toggleButton[aria-expanded="true"] > .line-3 {
    transform: translate(0, 0) rotate(45deg);
}

.navigation {
    display: none;
    align-items: center;
    flex-direction: column;
    padding: 2rem 2rem;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 20vh;
    background-color: white;
}

.navigation[aria-hidden="false"] {
    display: flex;
}

.navigation > ul {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem 0;
}

.navigation > ul > li {
    text-align: center;
}
