.App {
  text-align: center;
}

.product-page {
  text-align: center;
}

.contact-page {
  text-align: center;
}

.support-page {
  text-align: center;
}

.home-image {
  width: 200px;
}

.icon-image {
  width: 60px;
  margin: 5px 5px 5px 5px;
  border-radius: 15px;
}

.creema-image,
.minne-image {
  border: solid 1px;
}

.link-menu {
  text-align: center;
  margin-top: 20px;
}

.under-line1 {
  border: 1px solid;
  margin-top: 10px;
  margin-left: 0;
}

.menu-area {
  margin-top: 10px;
  margin-left: 20px;
  display: flex;
}

.border-lineno {
  padding: 2px 8px;
}

.border-lineno:hover {
  text-decoration: underline;
}

.border-line {
  border-left: 1px solid #000000;
  padding: 2px 8px;
}

.border-line:hover {
  text-decoration: underline;
}

.title {
  color: black;
  font-size: 43px;
  font-weight: 600;
  margin: 0 auto;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: white;
  height: 100vh;
}

body,
header,
ul,
li,
div {
  display: block;
  max-width: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  border: 0;
}

header {
  display: block;
  max-width: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  border: 0;
}

ul,
li {
  list-style: none;
}

button {
  border: none;
  background: transparent;
  cursor: pointer;
}

.header {
  display: flex;
  justify-content: flex-end;
  padding: 2rem;
  z-index: 999;
  background-color: white;
  /*position: fixed;*/
}